DEBUG={True or False}
SECRET_KEY={Django Secret Key}
DOMAIN_NAME=http://127.0.0.1:8000

DATABASE_NAME={Database Name}
DATABASE_USER={Database User}
DATABASE_PASSWORD={Database password}
DATABASE_HOST=localhost
DATABASE_PORT=5432

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER={yourhostname@gmail.com}
EMAIL_HOST_PASSWORD={yourhostpass from app}
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
